.DS_Store
\._.DS_Store
ChIP-Seq/.snakemake/
ChIP-Seq/benchmarks/
ChIP-Seq/config/snakemake_profile/
ChIP-Seq/data/chrom.sizes
ChIP-Seq/logs/
ChIP-Seq/results/
ChIP-Seq/slurm-8618035.out
ChIP-Seq/slurm-8619333.out
ChIP-Seq/snakemake_commands_ordered.txt
ChIP-Seq/snakemake_output.txt
GATK_mod_org/.DS_Store
GATK_mod_org/._.DS_Store
GATK_mod_org/cmds.tmp
RNA-Seq/snakemake_output.txt
